#set($layout="layout/spa.vm")
## Title
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">商品维护</h4>
</div>

## Form
<form id="shipRecordDetails" class="form-horizontal">
    <input type="hidden" id="serialNo" value="$!{serialNo}">
    <div class="modal-body container-fluid ">
        <div class="form-group">
            <label class="col-sm-3 control-label">代理人编号</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.agentCode"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">外部编号</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.agentExternalCode"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理人姓名</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.agentName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理人电话</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.agentMobile"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理人地址</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.agentAddress"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">厂商</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.manufacturer"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品名称</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.commodityName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品价格</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.commodityPrice | toMoney"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品单位</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.commodityUnit"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品重量</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.commodityWeight | toKG"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商品简介</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model.trim="model.data.commodityDescription"/>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button id="dialog-cancel" type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
    </div>
</form>
<script type="text/javascript" src="${rc.contextPath}/js/wms/qr/code/details.js"></script>