<div id="qrCode">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject bold uppercase">二维码管理</span>
            </div>
        </div>
        <div class="portlet-body form small">
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">批次号</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="batchSerial" name="batchSerial" type="text" v-model.trim="queryForm.batchSerial"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">商品编号</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="qrcodeSerial" name="qrcodeSerial" type="text" v-model.trim="queryForm.qrcodeSerial"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="button-group" align="center">
                        <button type="button" class="btn green-meadow" v-on:click="preQuery"><i class="fa fa-search"></i>搜索</button>
                        <button type="button" class="btn" v-on:click="reset"><i class="fa fa-refresh"></i>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="table" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>二维码值</th>
            <th>批次号</th>
            <th>关联商品ID</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="item in pageResult.data">
            <td v-html="item.id"></td>
            <td v-html="item.serialNo"></td>
            <td v-html="item.batchId"></td>
            <td v-html="item.commodityId"></td>
            <td v-html="item.gmtCreate | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td v-html="item.gmtModified | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td>
                <template v-if="item.commodityId">
                    <a class="a-icon" v-on:click="bind(item.id, item.state)"><i class="fa fa-remove"></i>绑定商品</a>
                </template>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="100">
                <vue-page :paginator="pageResult.paginator" :size="10" :query="query"></vue-page>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div id="formModal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog" role="document" style="width:1200px">
        <div class="modal-content">

        </div>
    </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/wms/qr/code/index.js"></script>