<div id="qrCodeBatch">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject bold uppercase">二维码批次管理</span>
            </div>
        </div>
        <div class="portlet-body form small">
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">批次号</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="batchSerial" name="batchSerial" type="text" v-model.trim="queryForm.batchSerial"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">商品</label>
                                <div class="col-md-8">
                                    <vue-select :options="commodities" :model.sync="queryForm.commodityId" :configs="{placeholder:'全部'}"></vue-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">状态</label>
                                <div class="col-md-8">
                                    <vue-select :options="states" :model.sync="queryForm.state" :configs="{placeholder:'全部'}"></vue-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="button-group" align="center">
                        <button type="button" class="btn green-meadow" v-on:click="preQuery"><i class="fa fa-search"></i> 搜索</button>
                        <button type="button" class="btn default" v-on:click="create"><i class="glyphicon glyphicon-qrcode"></i> 生成二维码</button>
                        <button type="button" class="btn default" v-on:click="export"><i class="glyphicon glyphicon-download-alt"></i> 导出二维码</button>
                        <button type="button" class="btn" v-on:click="reset"><i class="fa fa-refresh"></i>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="table" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>批次号</th>
            <th>二维码数量</th>
            <th>商品</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="item in pageResult.data">
            <td>
                <input name="selectedBatchs" type="checkbox" v-model="model.selectedBatchs" v-bind:value="item.id">
            </td>
            <td>
                 <span>
                    <a href="${rc.contextPath}/page/qr/code/index?batchId={{item.id}}">{{item.id}}</a>
                </span>
            </td>
            <td v-html="item.batchSerial"></td>
            <td v-html="item.amount"></td>
            <td v-html="item.commodityId  | enumFormat commodities"></td>
            <td v-html="item.state | enumFormat states"></td>
            <td v-html="item.gmtCreate | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td v-html="item.gmtModified | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td>
                <template v-if="item.state == 0">
                    <a class="a-icon" v-on:click="delete(item.id, item.state)"><i class="glyphicon glyphicon-ok"></i>使用</a>
                </template>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="100">
                <vue-page :paginator="pageResult.paginator" :size="10" :query="query"></vue-page>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div id="formModal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog" role="document" style="width:1200px">
        <div class="modal-content">

        </div>
    </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/wms/qr/batch/index.js"></script>