#set($layout="layout/spa.vm")
<div id="express-order-root">
## Title
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><span aria-hidden="true" class="icon-plane"></span>快递信息详情：{{model.code | enumFormat agent}}</h4>
    </div>

## Form
    <form class="form-horizontal">
        <input type="hidden" id="objId" value="$!{id}">
        <div class="modal-body container-fluid ">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="portlet yellow-crusta box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>寄件人信息
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    寄件人:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.senderName }} <span class="label label-info label-sm"> Email confirmation was sent </span>
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    寄件人电话:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.senderTel }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    寄件人地址:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.senderProvince }} {{ model.senderCity }} {{ model.senderRegion }} {{ model.senderAddressDetail }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    邮编:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.senderZipCode }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="portlet blue-hoki box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>收件人信息
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    收件人:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.receiverName }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    收件人电话:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.receiverTel }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    收件人地址:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.receiverProvince }} {{ model.receiverCity }} {{ model.receiverRegion }} {{ model.receiverAddressDetail }}
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-5 name">
                                    收件人邮编:
                                </div>
                                <div class="col-md-7 value">
                                    {{ model.receiverZipCode }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span aria-hidden="true">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet grey-cascade box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Shopping Cart
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            商品名称
                                        </th>
                                        <th>
                                            商品code
                                        </th>
                                        <th>
                                            商品数量
                                        </th>
                                        <th>
                                            商品单位
                                        </th>
                                        <th>
                                            单价
                                        </th>
                                        <th>
                                            商品重量（克）
                                        </th>
                                        <th>
                                            快递费单价
                                        </th>
                                        <th>
                                            快递费总价
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-cloak v-for="item in model.items">
                                        <td>
                                            <a href="javascript:;">
                                                {{ item.itemName }} </a>
                                        </td>
                                        <td>
                                            {{ item.itemCode }}
                                        </td>
                                        <td>
                                            {{ item.quantity }}
                                        </td>
                                        <td>
                                            {{ item.unit }}
                                        </td>
                                        <td>
                                            {{ item.unitWeight }}
                                        </td>
                                        <td>
                                            {{ item.totalWeight }}
                                        </td>
                                        <td>
                                            {{ item.unitPrice | toMoney }}
                                        </td>
                                        <td>
                                            {{ item.totalPrice | toMoney }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <div class="row static-info align-reverse">
                            <div class="col-md-8 name">
                                快递总价:
                            </div>
                            <div class="col-md-3 value">
                                {{ model.totalPrice | toMoney}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="dialog-cancel" type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/wms/order/express/view.js"></script>