#set($layout="layout/spa.vm")
## Title
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">辅材维护</h4>
</div>

## Form
<form id="modalForm" class="form-horizontal">
    <input type="hidden" id="id" value="$!{id}">
    <div class="modal-body container-fluid ">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="type">归属商品</label>
            <div class="col-sm-6">
                <vue-select name="commodityId" :options="commodities" :model.sync="model.commodityId" :configs="{placeholder:'请选择归属商品'}"></vue-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="type">辅材名称</label>
            <div class="col-sm-6">
                <input class="form-control" id="name" name="name" type="text" v-model.trim="model.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="type">单价</label>
            <div class="col-sm-6">
                <input class="form-control" id="price" name="price" type="text" v-model.trim="model.price" placeholder="单位：元"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="type">商品数量阀值</label>
            <div class="col-sm-6">
                <input class="form-control" id="quantity" name="quantity" type="text" v-model.trim="model.quantity" placeholder="满足多少件商品收取辅材费用"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="dialog-submit" type="button" @click.prevent="submitData" class="btn blue">保存</button>
        <button id="dialog-cancel" type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
    </div>
</form>
<script type="text/javascript" src="${rc.contextPath}/js/wms/sale/auxiliary/edit.js"></script>