<style>
    .page-sidebar-menu::-webkit-scrollbar {
        display: none
    }

    .sidebar-defined {
        max-height: 90%;
        overflow-y: scroll;
    }

    .sidebar-defined-li {
        max-height: 200px;
        overflow-y: scroll;
    }
</style>
<div class="page-sidebar-wrapper" id="leftHead">
    <div class="page-sidebar navbar-collapse collapse">
        <ul id="ulMenu" class="page-sidebar-menu page-sidebar-menu-closed sidebar-defined" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200" style="width:270px; position: fixed; z-index: 2000;">
            <input class="form-control" id="menuName" name="menuName" v-model="menuName" placeholder="请输入..."></input>
            <li>
                <a href="javascript:;"><i class="icon-diamond"></i><span class="title">基础数据管理</span><span class="arrow open"></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>省</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>市</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>区</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-plane"></i><span class="title">销售管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>商品管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>运费管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>辅材价格管理</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;"><i class="icon-plane"></i><span class="title">客户管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="${rc.contextPath}/customer/manufacturer/index"  ><i class="fa fa-cab"></i>厂商管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>代理人管理</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-energy"></i><span class="title">用户管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>前台用户管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>后台用户管理</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-energy"></i><span class="title">二维码管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>二维码查询</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>二维码生成</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-plane"></i><span class="title">订单管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>验证单管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>快递单管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>支付单管理</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="icon-energy"></i><span class="title">系统管理</span><span class="arrow "></span></a>
                <ul class="sub-menu ul-sec">
                    <li><a href="#"  ><i class="fa fa-cab"></i>权限管理</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>菜单二</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>菜单三</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>菜单四</a></li>
                    <li><a href="#"  ><i class="fa fa-cab"></i>菜单五</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:800px">
        <div class="modal-content"></div>
    </div>
</div>
<div id="logModal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog" role="document" style="width:1200px">
        <div class="modal-content">

        </div>
    </div>
</div>
<script src="${rc.contextPath}/js/widget/sidebar-menu.js"></script>