<div id="userBg">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-settings font-green"></i>
                <span class="caption-subject bold uppercase">后台用户管理</span>
            </div>
        </div>
        <div class="portlet-body form small">
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">用户名</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="username" name="username" type="text" v-model.trim="queryForm.username"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">状态</label>
                                <div class="col-md-8">
                                    <vue-select :options="states" :model.sync="queryForm.enabled" :configs="{placeholder:'全部'}"></vue-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="button-group" align="center">
                        <button type="button" class="btn green-meadow" v-on:click="preQuery"><i class="fa fa-search"></i>搜索</button>
                        <button type="button" class="btn default" v-on:click="create"><i class="fa fa-plus"></i>新增</button>
                        <button type="button" class="btn" v-on:click="reset"><i class="fa fa-refresh"></i>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="table" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>创建人</th>
            <th>修改人</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="item in pageResult.data">
            <td v-html="item.id"></td>
            <td v-html="item.username"></td>
            <td v-html="item.enabled | enumFormat states"></td>
            <td v-html="item.gmtCreate | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td v-html="item.gmtModified | toDate 'YYYY-MM-DD HH:mm'"></td>
            <td v-html="item.createBy"></td>
            <td v-html="item.modifyBy"></td>
            <td>
                <a class="a-icon" v-on:click="edit(item.id)"><i class="fa fa-edit"></i>编辑</a>
                <a class="a-icon" v-on:click="delete(item.id, item.enabled)"><i class="fa fa-remove"></i>
                    <template v-if="item.enabled == 0">
                        启用
                    </template>
                    <template v-else>
                        禁用
                    </template>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="100">
                <vue-page :paginator="pageResult.paginator" :size="10" :query="query"></vue-page>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div id="formModal" class="modal fade modal-scroll" tabindex="-1" data-replace="true">
    <div class="modal-dialog" role="document" style="width:1200px">
        <div class="modal-content">

        </div>
    </div>
</div>
<script type="text/javascript" src="${rc.contextPath}/js/wms/user/bg/index.js"></script>